APP_ENV=development

POSTGRES_DB=audittrail
POSTGRES_USER=audittrail
POSTGRES_PASSWORD=replace-with-a-strong-local-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_EXPOSED_PORT=5432

API_PORT=8000

